.title {
    text-align: center;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
}
