.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.player {
  &:not(:first-child) {
    margin-top: 20px;
  }
}
